<% include ../../partials/entry-header %>
				
	<form class="form-group" action="/login" method="POST">
			
		<input class="form-control" type="text" name="username" placeholder="username">
				
		<input class="form-control" type="password" name="password" placeholder="password">
							
		<button class="btn btn-success">Login</button>

		<a href="/register" class="hollow-button" id="new-user"><i class="far fa-heart"></i> New User <i class="far fa-heart"></i></a>
					
	</form>
			
				
	
<% include ../../partials/entry-footer %>


