<!DOCTYPE>
<html>
	<head>

		<script type="text/javascript" src="scripts/lib/jquery-3.3.1.min.js"></script>

		<script type="text/javascript" src="scripts/lib/bootstrap.min.js"></script>

		<link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.min.css">

		<link type="text/css" rel="stylesheet" href="stylesheets/login.css">

		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

	</head>
	<body>
		<div class="container">
			<div id="login-ui">
				<h1 class="heading content">The Beanie Boo Network</h1>
				<h4 class="content">Share your beanie boo collection with the world</h4>
				<hr>