<% include ../../partials/header %>

	<div class="row">

		<div class="conversations-box col-xs-4">
		</div>

		<div class="col-xs-8">
			<h1>Messages</h1>
			<div id="message-box" class="thumbnail">
			
			</div>

			<form class="form-group">
				<div class="row center-block">
					<div class="col-xs-10">
						<input id="message-input" class="form-control  center-block" type="text" name="message[content]" placeholder="write a message">
					</div>
					<div class="col-xs-2">
						<button id="message-button" class="btn btn-default btn-primary ">Send</button>
					</div>
					
				</div>
			</form>

		</div>
	<div>
	
	
<% include ../../partials/footer %>