<% include ../partials/entry-header %>

	<a href="/login"class="hollow-button" id="get-started"><i class="far fa-heart"></i> Get Started <i class="far fa-heart"></i></a>

<% include ../partials/entry-footer %>